<!-- default template layput head and body -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Data-Sharing-Example</title>
        <meta name="description" content="A kumc-bmi data sharing example.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="https://kit.fontawesome.com/75bde6854e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <!-- Import Vega 3 & Vega-Lite 2 (does not have to be from CDN) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.16.0/build/vega-tooltip.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega@4"></script><script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc12"></script><script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script><script src="https://vega.github.io/datalib/datalib.min.js"></script>
    </head>
    <body>
        <section class="main-header">
            <a href="{{ url_for('index') }}">
                <h1 class="header">
                    <i class="fab fa-python"></i>
                    Data Sharing Example
                </h1>
            </a>
            {% block button %}{% endblock %}
        </section>
        {% block content %}{% endblock %}
    </body>
</html>